name: CI/CD Pipeline

# 1. DÉCLENCHEUR : À chaque push sur la branche 'main'
on:
  push:
    branches:
      - deploy_local

# Variables pour éviter de répéter le nom de l'image
env:
  DOCKER_IMAGE_BACKEND: ${{ secrets.DOCKER_USERNAME }}/iris-backend
  DOCKER_IMAGE_FRONTEND: ${{ secrets.DOCKER_USERNAME }}/iris-frontend

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest # GitHub nous prête un serveur Linux

    steps:
      # --- PHASE 1 : INSTALLATION ---
      - name: Récupérer le code
        uses: actions/checkout@v4

      - name: Installer Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Installer les dépendances
        run: |
          python -m pip install --upgrade pip
          # On installe les libs du backend pour pouvoir lancer les tests et le train
          pip install -r backend/requirements.txt
          pip install pytest httpx

      # --- PHASE 2 : TESTS ---
      - name: Lancer les tests (Pytest)
        run: |
          cd backend
          pytest
          # Si ça échoue ici, le pipeline s'arrête et ne déploie rien !

      # --- PHASE 3 : ENTRAÎNEMENT ---
      - name: Entraîner le modèle
        run: python backend/ml/train.py
        # Cela génère le fichier dans le dossier 'model/' à la racine (selon votre script)

      # --- PHASE 4 : PRÉPARATION DOCKER (Le point critique) ---
      - name: Déplacer le modèle pour Docker
        run: |
          # Le Dockerfile du backend ne voit que le dossier backend/
          # On doit donc copier le modèle DEPUIS la racine VERS backend/model/
          mkdir -p backend/model
          cp model/model.pkl backend/model/model.pkl
          echo "Modèle copié avec succès dans backend/model/"

      # --- PHASE 5 : DOCKER & DEPLOIEMENT ---
      - name: Connexion à Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend  # Le contexte est le dossier backend
          push: true
          tags: ${{ env.DOCKER_IMAGE_BACKEND }}:latest

      - name: Build & Push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: ${{ env.DOCKER_IMAGE_FRONTEND }}:latest