name: CI/CD Pipeline

on:
  push:
    branches:
      - deploy_local

env:
  DOCKER_IMAGE_BACKEND: ${{ secrets.DOCKER_USERNAME }}/iris-backend
  DOCKER_IMAGE_FRONTEND: ${{ secrets.DOCKER_USERNAME }}/iris-frontend

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4


      - name: Installer Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Installer les dépendances
        run: |
          python -m pip install --upgrade pip
          pip install -r backend/requirements.txt
          pip install pytest httpx

      - name: Lancer les tests (Pytest)
        run: |
          cd backend
          pytest

      - name: Entraîner le modèle
        run: python backend/ml/train.py
  

      - name: Connexion à Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: ${{ env.DOCKER_IMAGE_BACKEND }}:latest

      - name: Build & Push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: ${{ env.DOCKER_IMAGE_FRONTEND }}:latest